[alias]
#Checking current state
  s        = status -sb
  ss       = status
#Committing changes
  c        = commit
  cm       = commit -m
  ca       = commit -a
  cam      = commit -am
  a        = add
  aa       = add --all
  unstage  = restore --staged
#Branching
  co       = checkout
  br       = branch
  bc       = checkout -b
  bd       = branch -d
  bl       = branch -v
  blv      = branch -vv
  rh = reset --hard
#Worktrees
  wl = worktree list
  wnew = "!f() { git worktree add --no-track -b $1 $1; }; f"
  wadd = "!f() { git fetch --prune; git worktree add $1 $1; }; f"
  wrm = "!f() { git worktree remove $1; git branch -d $1; }; f"
#Remoting
  ph       = push
  phu      = push -u origin HEAD
  phf      = push --force-with-lease
  pl       = pull
  r        = remote -v
  rls      = remote show
  rp       = remote prune
#Rebasing
  rba       = rebase --abort
  rbc       = rebase --continue
  rbi       = rebase -i
#Checking history
  last     = log -1 HEAD
  rl       = reflog -30
  rll       = reflog
  l = log --pretty='%C(yellow)%h%Creset %Cblue%ad%Creset %Cgreen%an%Creset%C(cyan)%d%Creset %s' -30 --date=format:'%d-%m-%y %R'
  lm = log --pretty='%C(yellow)%h%Creset %Cblue%ad%Creset %Cgreen%an%Creset%C(cyan)%d%Creset %s' -30 --no-merges --date=format:'%d-%m-%y %R'
  ll = log --graph --decorate --oneline -30
  llm = log --graph --decorate --oneline -30 --no-merges
#General
  alias    = config --get-regexp ^alias\\.
  root     = rev-parse --show-toplevel
[core]
  editor = nvim
  whitespace = cr-at-eol
  autocrlf = false
[commit]
  gpgsign = true
[gpg]
  program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
